
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #597490;
  border-color: #597490;
}

.btn-primary:focus{
  background-color: #7c9ebd;
  border-color: #7c9ebd;
}

.btn-primary:hover{
  background-color: #bcd3e8;
  border-color: #bcd3e8;
}

hr {
  display: block;
  height: 6px;
  border: 0;
  border-top: 6px solid black;
  margin: 1em 0;
  padding: 0;
}

html {
  background-color: aliceblue ! important;
  min-height: 98vh;
  max-height: 98vh;
  padding: 0;
}

#chatbox {
  max-width: 70%;
  background: white;
  height: 70vh;
  overflow: scroll;
  overflow-x: hidden;
}

div.chatinputbox {
  max-width: 70%;
  background: white;
}

.dialogicon {

}

.dialogicon img {
  float: right;
  width: 70%;
  max-width: 60px;
}

div.dialogbubble {
  min-height: 28px;
  border-radius: 16px;
  background-color: lightgray;
  position: relative;
  padding: 12px;
  font-size: 1.1rem;
  /* box-shadow: 2px 2px 2px gray; */
  text-align: left;
}

div.wait {
  min-width: 10% ! important;
}

.dialogbubble img {
  height: 100%;
  max-height: 32px;
  width: 100%;
}

div.dialogBot {
  float: left;
  margin-right: 10%;
}

div.dialogUser {
  float: right;
  margin-left: 10%;
  background-color: #597490;
  color: white;
}

.rotate {
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 0 0;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  float: left;
}

div.fadeMe {
  opacity:    0.5;
  background: #000;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}

div.priotop {
  z-index: 11;
}
